<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center" style="background-image: url(https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19920_ip.jpg); background-size: 25%; height: 25%;">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    
    <div class="row" id="mars-news">
      <div class="media">
        <div class="media-body">
          <h4>Latest Mars News</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h3>Featured Mars Image</h3>
          <img src="https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18897-1920x1200.jpg" style="max-width: 100%; max-height: auto;">
        </div>
       </div>
    </div>

    
  </div>
</body>

</html>

